<footer class="site-footer">
    <!-- {{ site.description }} | Jiadai Sun | Last update 20/07/2021<br /> -->
    {{ site.description }} | Jiadai Sun | Last update {{ site.time | date_to_string: "ordinal", "US" }}<br />
 
    <!-- {% if site.sourcecode %}
     :: <a href="{{ site.sourcecode }}">Website source</a>
    {% endif %} -->
    {% if site.analytics.provider and page.analytics != false %}
    :: Analytics by {{ site.analytics.provider }}
    {% endif %}
    <script type="text/javascript" src="//counter.websiteout.net/js/36/8/21961/0"></script>

    <script type="text/javascript" id="clustrmaps"
        src="//clustrmaps.com/map_v2.js?cl=808080&w=300&t=n&d=2URrE5QxdiyV2N0TTGMyfwWluMPLkDFItkbrrGaG5zA&co=eeeeee&ct=ff5353"></script>
</footer>